body{
    background: white;
    color:white;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;

}

header {
    color: white;
    padding:20px;
    background-image: url("imgi/header.jpg");
    background-size:100px 100px 100px 100px;
    background-repeat: no-repeat;
    text-align: center;
    
    
    
}

a{
    text-decoration: none;
    padding: 10px;
    margin: auto;
    color: white;
    font-size: large;
    

} 

.logo{
    background-image: url("imgi/logo.jpg");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;
    text-indent: -99999999px;
    display: inline-block;
    width: 100px;
}


section{
    background: white;
    color: black;
    padding: 30px;
    

}

div{
    background: red;
    padding:10px;
    display: inline-block;
    width: 100px;
    margin:10px;
}

footer{
    background: black;
    padding:10px;
}