body{
    background: white;
    color:white;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;

}

header {
    color: white;
    padding:90px;
    background-image: url("imgi/header.jpg");
    background-size:100px 100px 100px 100px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0px -100px;

  
}

@media  screen and (max-width: 665px) {
    header {
        background-position: -500px -30px;
}

}

.mobile {
    display: none;
}

@media  screen and (max-width: 665px) {
    .mobile {
        display: inline-block;
        text-indent: -99999px;
        background-image: url("imgi/logo.jpg");
        width: 100px;
        background-size: 100px;
        background-repeat: no-repeat;
    }
    
}
   


 nav a{
    text-decoration: none;
    padding: 10px;
    margin: auto;
    color: white;
    font-size: large;
    

} 

@media screen and (max-width: 665px) {
    a {
        padding: 5px;
        color: white;
    }
    
}

/* logo */

.logo {
    background-image: url("imgi/logo.jpg");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;
    text-indent: -99999999px;
    display: inline-block;
    width: 100px;
}

@media screen and (max-width: 665px) {
    .logo {
        display: none;
    }
    
}
/*section*/

section{
    background: white;
    color: black;
    padding: 100px;
    background-size: 500px;
    
}

/* clip */



ul a {

        display: flex;
        background-color: red;
        width: 100px;
        flex-direction: column;
        margin: 10px;
        

}

/* clip */

.clip1 {
    background-image: url(imgi/clip1.jpg);
    height: 310px;
    width: 560px;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}

.clip2 {
    background-image: url(imgi/clip2.jpg);
    height: 310px;
    width: 560px;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}

.clip3 {
    background-image: url(imgi/clip3.jpg);
    height: 310px;
    width: 560px;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}



@media screen and (max-width: 556px) {
    ul a{
        flex-direction: column-reverse;
    }
}

/* footer*/

footer{
    background: black;
    padding:10px;
    margin: auto;
}