body{
    background: white;
    color:white;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;

}

.lower {
    color: white;
    padding:90px;
    background-image: url("imgi/header.jpg");
    background-size:100px 100px 100px 100px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0px -100px;
}

@media  screen and (max-width: 665px) {
    .lower {
        background-position: -500px -30px;
        background-size: 999px;
        margin:0px;
        padding:30px;


}

}

.mobile {
    display: none;
}

@media  screen and (max-width: 665px) {
    .mobile {
        display: inline-block;
        text-indent: -99999px;
        background-image: url("imgi/logo.jpg");
        width: 100px;
        background-size: 100px;
        background-repeat: no-repeat;
    }
    
}

.upper {
    background-color: black;
    text-align: center;
    margin: 0px;
    padding:10px;
    
}


header ul a{
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    color: white;
    font-size: large;
    display: inline-block;
    background-color: black;
    text-align: center;
    

} 

@media screen and (max-width: 665px) {
    header ul a {
        padding: 0px 10px 0px 10px;
        color: white;
        font-size: medium;
        margin: 0px;
        
    }
    
}

/* logo */

.logo {
    background-image: url("imgi/logo.jpg");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;
    text-indent: -99999999px;
    display: inline-block;
    width: 100px;
}

/*mobile*/

@media screen and (max-width: 665px) {
    .logo {
        display: none;
        padding:20px;
    }
    
}
/*section*/

section{
    background: white;
    color: black;
    padding: 100px;
    background-size: 600px;
    
}

/* clip */



section ul a {

        display: flex;
        background-color: red;
        width: 100px;
        flex-direction: column;
        margin: 10px;
        

}


/* clip */

.clip1 {
    background-image: url(imgi/clip1.jpg);
    height: 310px;
    width: 560px;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}

.clip2 {
    background-image: url(imgi/clip2.jpg);
    height: 310px;
    width: 560px;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}

.clip3 {
    background-image: url(imgi/clip3.jpg);
    height: 310px;
    width: 560px;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}

/*mobile*/


@media screen and (max-width: 665px) {
    .clip1  {
        height: 97px;
        width:190px;
        background-size: 200px;
        
    }

    .clip2 {
        height: 97px;
        width:190px;
        background-size: 200px;
        
    }

    .clip3 {
        height: 97px;
        width:190px;
        background-size: 200px;
        
    }
}




@media screen and (max-width: 556px) {
    ul a{
        flex-direction: column-reverse;
    }
}

/* footer*/

footer{
    background: black;
    padding:10px;
    margin: auto;

}